/* nav */
.action-button__container {
  display: block;
  position: sticky;
  bottom: 0;
}

/* ul */
.action-button__list {
  display: flex;
  justify-content: space-between;

  border-radius: 12px 12px 0 0;
  background-color: var(--white);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);
}

/* li */
.action-button__item {
  width: 100%;
  text-align: center;
}

.action-button__item--link {
  display: block;
  font-size: 0.8rem;
  color: var(--gray-4);
  text-decoration: none;
  padding: 1rem 0;
  transition: color 0.2s;
}
.action-button__item--link:hover,
.action-button__item--link:focus {
  color: var(--blue);
}

.action-button__icon {
  display: block;
  margin: 0 auto 0.5rem auto;
  width: 1.5rem;
  height: 1.5rem;

  background-position: center;
  background-repeat: no-repeat;

  transition: background-image 0.2s;
}

/* icons */
.action-button__item--link .action-button__icon--calendar {
  background-image: url("../assets/calendar-icon.svg");
}
.action-button__item--link:hover .action-button__icon--calendar,
.action-button__item--link:focus .action-button__icon--calendar {
  background-image: url("../assets/calendar-icon-hover.svg");
}
.action-button__item--link .action-button__icon--clients {
  background-image: url("../assets/clients-icon.svg");
}
.action-button__item--link:hover .action-button__icon--clients,
.action-button__item--link:focus .action-button__icon--clients {
  background-image: url("../assets/clients-icon-hover.svg");
}
.action-button__item--link .action-button__icon--report {
  background-image: url("../assets/report-icon.svg");
}
.action-button__item--link:hover .action-button__icon--report,
.action-button__item--link:focus .action-button__icon--report {
  background-image: url("../assets/report-icon-hover.svg");
}
.action-button__item--link .action-button__icon--menu {
  background-image: url("../assets/menu-icon.svg");
}
.action-button__item--link:hover .action-button__icon--menu,
.action-button__item--link:focus .action-button__icon--menu {
  background-image: url("../assets/menu-icon-hover.svg");
}

@media screen and (min-width: 720px) {
  .action-button__container {
    position: fixed;
    left: 0;
    top: 0;
  }

  .action-button__list {
    flex-direction: column;
    justify-content: start;
    border-radius: 0;
    height: 100vh;
    border-right: 1px solid var(--gray-3);
  }

  .action-button__item {
    width: 6.5rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .action-button__item {
    width: 8rem;
    height: 5rem;
  }
}
