.new-appointment-button {
  display: block;
  position: fixed;
  right: 1rem;
  bottom: 4rem;

  font-size: 2rem;
  width: 3.3rem;
  height: 3.3rem;

  background: var(--blue);
  color: var(--real-white);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.12);

  border: none;
  border-radius: 50%;
}

.new-appointment-text {
  display: none;
}

@media screen and (min-width: 720px) {
  .new-appointment-button {
    position: absolute;
    top: 3rem;
    right: 4rem;

    width: 9rem;
    height: 3.5rem;

    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .new-appointment-text {
    display: block;
    font-size: 0.8rem;
  }
  .new-appointment-icon {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .new-appointment-button {
    right: 5.7rem;
  }
}
