.float-button {
  display: block;
  position: fixed;
  right: 1rem;
  bottom: 5rem;

  font-size: 2rem;
  width: 3.3rem;
  height: 3.3rem;

  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.12);

  border: none;
  border-radius: 50%;

  transition: opacity 0.2s;
}
.float-button:hover {
  opacity: 0.95;
}

.float-button__text {
  display: none;
}

@media screen and (min-width: 720px) {
  .float-button {
    position: absolute;
    top: 3rem;
    right: 2rem;

    width: 9rem;
    height: 3.5rem;

    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .float-button__text {
    display: block;
    font-size: 0.8rem;
  }
  .float-button__icon {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .float-button {
    right: 4rem;
  }
}
