.form {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  width: 100%;
}

.form__title {
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form__input--label {
  line-height: 1.8rem;
  font-weight: 500;
}
.form__input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-3);
  outline: none;
  margin-bottom: 1rem;
}

.form__input:hover {
  border: 1px solid var(--gray-2);
}
.form__input:focus {
  color: var(--gray-4);
  border: 2px solid var(--blue);
}

.form__input::placeholder {
  color: var(--gray-2);
}
.form__input:hover::placeholder,
.form__input:focus::placeholder {
  color: var(--gray-4);
}

.form__input--appointment-types {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form__button {
  background: var(--blue);
  color: var(--white);
  margin-top: 1rem;
  cursor: pointer;
}
.form__button:hover {
  opacity: 0.95;
}

@media screen and (min-width: 720px) {
  .form {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .form {
    width: 60%;
  }
}
